<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- dari sini -->
<div class="main-panel">
    <div class="content-wrapper">

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <%- include ./table.ejs %>
                </div>
            </div>
        </div>
        <!-- Table -->

    </div>
    <!-- content-wrapper ends -->

<!-- main-panel ends in footer -->

    
<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>